<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lframework.starter.security.mappers.DefaultSysConfigMapper">

    <resultMap id="SysConfigDto" type="com.lframework.starter.security.dto.system.config.SysConfigDto">
        <id column="id" property="id"/>
        <result column="allow_regist" property="allowRegist"/>
        <result column="allow_lock" property="allowLock"/>
        <result column="fail_num" property="failNum"/>
        <result column="allow_captcha" property="allowCaptcha"/>
        <result column="allow_forget_psw" property="allowForgetPsw"/>
        <result column="forget_psw_require_mail" property="forgetPswRequireMail"/>
        <result column="forget_psw_require_sms" property="forgetPswRequireSms"/>
        <result column="sign_name" property="signName"/>
        <result column="template_code" property="templateCode"/>
    </resultMap>

    <sql id="SysConfigDto_sql">
        SELECT
            tb.id,
            tb.allow_regist,
            tb.allow_lock,
            tb.fail_num,
            tb.allow_captcha,
            allow_forget_psw,
            forget_psw_require_mail,
            forget_psw_require_sms,
            sign_name,
            template_code
        FROM sys_config AS tb
    </sql>

    <select id="get" resultMap="SysConfigDto">
        <include refid="SysConfigDto_sql"/>
    </select>
</mapper>
